[run]
source = src
omit = src/**/__init__.py,src/tests/**,src/menu_main.py,src/menu_lopp.py,src/menu_renderer.py,src/renderer.py,src/main.py,src/menu_loop.py,src/run.py,src/values.py,src/event_pueue.py